# Python Fundamentals
***

## Variables

***

All imperative programming languages have variables often with types

In [1]:
# Boolean.
b = True

# Integer.
i = 1

# Float.
f = 1.0

# String.
c = 'c'

# String.
s = "Hello, world!"

# Quotes in strings.
t = "I can't believe it!"

# Quotes in strings.
u = 'Ian says "Hello"'

# Escaped quotes in strings.
v = "Ian says \"Hello\""

In [2]:
i

1

In [3]:
f

1.0

In [4]:
type(i)

int

In [5]:
type(f)

float

In [6]:
# adding ints
i + i

2

In [7]:
#adding floats
f + f

2.0

In [8]:
# integers upcast to floats
i + f

2.0

In [9]:
# no char type only string
type(c)

str

In [10]:
type(s)

str

In [11]:
s

'Hello, world!'

In [12]:
t

"I can't believe it!"

In [13]:
u

'Ian says "Hello"'

In [14]:
v

'Ian says "Hello"'

In [15]:
# comparing strings
u == v

True

In [16]:
# concat strings
u + v

'Ian says "Hello"Ian says "Hello"'

In [17]:
# strings by ints - repeated concatenation
u * 3

'Ian says "Hello"Ian says "Hello"Ian says "Hello"'

<br>

## Conditionals 

***

In [18]:
# Boolean literal.
True

True

In [19]:
# Boolean literal.
False

False

In [20]:
i = 15

In [21]:
if i < 0:
    print(i, "is negative.")
elif i % 2 == 0:
    print(i, "is even.")
    print("Another statement")
else:
    print(i, "is odd.")

15 is odd.

In [22]:
# Same effect, using nest if's.
if i < 0:
    print(i, "is negative")
else:
    if i % 2 == 0:
        print(i, "is even")
    else:
        print(i, "is odd")

15 is odd

<br>

## Lists

***

In [23]:
r = [1, 2, 3]

In [24]:
print(r)

[1, 2, 3]

In [25]:
r[0]

1

In [26]:
r[1]

2

In [27]:
# Last element.
r[-1]

3

In [28]:
# Indices are modulo'd by the length of the list.
-1 % len(r)

2

In [29]:
# List Comprehension - if statement == 1 only giving odd nums
[i*i for i in range(10) if i*i % 2 == 1]

[1, 9, 25, 49, 81]

In [30]:
# 10 to the power of 2
10**2

100

<br>

## Iteration

***

In [31]:
for item in r:
    print(item)
    print(item * item)
    
print("That's all folks!")

1
1
2
4
3
9
That's all folks!

In [32]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2, 10, 3))

[2, 5, 8]

In [35]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

<br>

## Functions

***

In [36]:
def square(i):
    return i * i

In [37]:
square(9)

81

In [38]:
def power(i, j=2):
    result = 1
    for k in range(j):
        result = result * i
    return result

In [39]:
power(9)

81

In [40]:
power(9, 3)

729

In [41]:
9*9*9

729

In [42]:
# Can call with items out of order
power(j=3, i=9)

729

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(4, 10))

[4, 5, 6, 7, 8, 9]

In [45]:
list(range(4, 10, 4))

[4, 8]

***

## End